body, html
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
}
.header 
{
	font-size: 24px;
}
.suggestions 
{
		margin: 10px;
	padding: 5px;
	border: 1px solid gray;
	font-size: medium;
	float: left;
}

.product_details 
{
	margin: 10px;
	padding: 5px;
	border: 1px solid gray;
	width: 300px;
	float: left;
	display: block;
}

.quickbook
{
	border: 1px dashed gray;
	margin: 5px;
	padding: 5px;
	
}




	